div.image {
  height: 200px;
  width: 200px;
  font-size: 100px;
  text-align: center;
  line-height: 200px;
  border: 1px solid black;
  margin: 10px;
  margin-top: 40px;
  display: inline-block;
}

#board {
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-evenly;
}

header {
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  color: white;
  font-size: 21pt;
  font-weight: bolder;
  background-color: black;
}
